africastalking
amqp
annotated-types
anyio
asgiref
attrs
billiard
celery
certifi
channels
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
crontab
dj-database-url
Django
django-appconf
django-cors-headers
django-dotenv
django-environ
django-imagekit
django-ipware
django-js-asset
django-mptt
django-qr-code
django-rest-framework
djangorestframework
djangorestframework-simplejwt
drf-spectacular
gunicorn
h11
httpcore
httpx
idna
inflection
jsonschema
jsonschema-specifications
kombu
packaging
pilkit
pillow
prompt_toolkit
psycopg2-binary
pydantic
pydantic_core
PyJWT
python-dateutil
python-ipware
pytz
PyYAML
referencing
requests
resend
rpds-py
schema
secure-smtplib
segno
six
sniffio
sqlparse
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
vine
wcwidth
